<!-- users = [
    {'first_name' : 'Michael', 'last_name' : 'Choi'},
    {'first_name' : 'John', 'last_name' : 'Supsupin'},
    {'first_name' : 'Mark', 'last_name' : 'Guillen'},
    {'first_name' : 'KB', 'last_name' : 'Tonel'}
] -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <table>

        <tr>
            <th>First name</th>
            <tbody>
            {% for user in user %}
                <tr>
                    <td>{{user.first_name}}</td>
                </tr>
            {% endfor %}
            </tbody>
            <th>Last name</th>
            <tbody>
            {% for user in user %}
                <tr>
                    <td>{{user.last_name}}</td>
                </tr>
            {% endfor %}
            </tbody>
            <th>Full name</th>
            <tbody>
            {% for user in user %}
                <tr>
                    <td>{{user.first_name}}+{{user.last_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </tr>

    </table>
</body>
</html>

users = [
    {'first_name' : 'Michael', 'last_name' : 'Choi'},
    {'first_name' : 'John', 'last_name' : 'Supsupin'},
    {'first_name' : 'Mark', 'last_name' : 'Guillen'},
    {'first_name' : 'KB', 'last_name' : 'Tonel'}
]