<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1.0, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename ='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    <title>Register</title>
</head>
<body>
    <div id=wrapper>
        <header>
            <h1 id=head>Recipes Page</h1>
            <a class=navLink href="/recipe/new">Create a New Recipe</a>
            <a class=navLink href="/logout">Log Out</a>
        </header>
        <div id="displayTable">
            <h2 class=subHead>All Recipes:</h2>
            
            <table>
            <thead>
                <tr>
                    <th>Recipe Maker</th>
                    <th>Recipe Name</th>
                    <th>Description</th>
                    <th>Instructions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in all_recipes %}
                <tr>
                    <td class="tableData">{{recipe.userfk.first_name}}</td>
                    <td class="tableData">{{recipe.name}}</td>
                    <td class="tableData">{{recipe.description}}</td>
                    <td class="tableData">{{recipe.instructions}}</td>
                    <td class="tableData">
                        <a class='navLink' href="/recipe/edit/{{recipe.id}}">Edit</a>
                        <p>   </p>
                        <a class='navLink' href="/recipe/show/{{recipe.id}}">View Recipe</a>
                        <a class='navLink' href="/recipe/delete/{{recipe.id}}">Cancel</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</body>
</html>