<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1.0, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename ='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    <title>Register</title>
</head>
<body>
<div id=wrapper>
    <header>
        <h1 id=head>Edit your Recipe</h1> 
        <a href="/recipe">Home Page</a>
    </header>
    <div>
        <h2></h2>
        <form action="/recipe/update/{{recipe.id}}" method="post">
            {% with messages = get_flashed_messages() %}    
                {% if messages %}                            
                    {% for message in messages %}            
                        <p>{{message}}</p>                   
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <label for="name">Recipe Name:</label>
            <input type="text" name="name" value="{{recipe.name}}">
            <label for="description">Recipe Description:</label>
            <input type="text" name="description" value="{{recipe.description}}" min="1">       
            <label for="instructions">Recipe Instructions:</label>
            <input type="text" name="instructions" value="{{recipe.instructions}}" min="1">       
            <button>Submit</button>
        </form>
    </div>
</div>
</body>
</html>