<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1.0, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename ='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    <title>Band Derby</title>
</head>
<body>
    <div id=wrapper>
        <header>
            <h1 id=head>Band Derby</h1>
            <a class=navLink href="/pie">Dashboard</a>
            <a class=navLink href="/logout">Log Out</a>
        </header>
        <div id="displayTable">
            <table>
            <thead>
                <tr>
                    <th>Band Name</th>
                    <th>Formed by</th>
                    <th>Votes</th>
                </tr>
            </thead>
            <tbody>
                {% for pie in all_pies %}
                <tr>
                    <td class='tableData'>
                    <a class="navLink" href="/pie/show/{{pie.id}}">{{pie.name}}</a>
                    </td>
                    <td class='tableData'>{{pie.userfk.first_name}}</td>
                    <td class="tableData" id='votes'>0</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
</body>             
</html>
