<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1.0, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename ='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    <title>Log in and Registration</title>
</head>
<body>
    <header>
        <h1 id=head>Welcome to Rockers Corner! please sign in.</h1>
    </header>
    <div id=wrapper>
        <div id=regform>
            <h2 class=subHead>Register</h2>
            <form action="/register" method='POST'>
                {% with messages = get_flashed_messages(category_filter =["regError"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="error">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class='formGroup'>
                    <label for="first_name">First name:  </label>
                    <input class=formInput type="text" pattern="^[a-zA-Z]+$" name="first_name">
                </div>
                <div class='formGroup'>
                    <label>Last name:  </label>
                    <input class=formInput type="text" pattern="^[a-zA-Z]+$" name="last_name">
                </div>
                <div class='formGroup'>
                    <label>Email:  </label>
                    <input class=formInput type="text" name="email">
                </div>
                <div class='formGroup'>
                    <label>Password:  </label>
                    <input class=formInput type="password" name="password">
                </div>
                <div class='formGroup'>
                    <label>Confirm password:  </label>
                    <input class=formInput type="password" name="passConf">
                </div>
                <button class="formButton">Register</button>
            </form>
        </div>
        <div id=loginForm>
            <h2 class=subHead>Login</h2>
            <form action="/login" method='POST'>
                {% with messages = get_flashed_messages(category_filter =["logError"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="error">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="formGroup">
                    <label>Email:  </label>
                    <input class=form Input type="text" name="email">
                </div>
                <div class="formGroup">
                    <label>Password:  </label>
                    <input class=form Input type="password" name="password">
                </div>
                <button class=formButton>Login</button>
            </form>
        </div>
    </div>
</body>
</html>
