<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1.0, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename ='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    <title>Show Pie Page</title>
</head>
<body>
<div id=wrapper>
    <header>
        <a href="/pie">Dashboard</a>
        <a class=navLink href="/logout">Log Out</a>
    </header>
    <body>
        <h1>{{pie.name}} pie by {{the_user.first_name}}</h1>
        <h2>{{pie.filling}}</h2>
        <h2>{{pie.crust}}</h2>
        <button ><a href="/pie/derby">ROCK!</button>
    </body>
</div>
</body>
</html>
