<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1.0, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename ='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    <title>Dashboard</title>
</head>
<body>
        <header>
            <h1 id=head>Rock On!!!!{{this_user.first_name}}</h1>
            <a class='navLink' href="/band/new">New Band</a>
            <a class=navLink href="/logout">Log Out</a>
        </header>
        <div id=container>
        <div id=wrapper>
            <div id="displayTable">
                <h2 class=subHead>All Bands:</h2>
                <table>
                <thead>
                    <tr>
                        <th>Band Name</th>
                        <th>Founding Member</th>
                        <th>Music Genre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for band in all_bands %}
                    {% if session['user_id'] == band.userfk.id %}
                    
                    <tr>
                        <td class="tableData">{{band.name}}</td>
                        <td class="tableData">{{band.userfk.first_name}}</td>
                        <td class="tableData">{{band.genre}}</td>
                        <td class="tableData">
                            <a class='navLink' href="/band/edit/{{band.id}}">Edit</a>
                            <a class='navLink' href="/band/show/{{band.id}}">My Bands</a>
                            <p>   </p>
                            <a class='navLink' href="/band/delete/{{band.id}}">Delete</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="tableData">{{band.name}}</td>
                        <td class="tableData">{{band.userfk.first_name}}</td>
                        <td class="tableData">{{band.genre}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
      
    </div>
</body>
</html>