<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1.0, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static', filename ='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    <title>Show Band Page</title>
</head>
<body>
<div id=wrapper>
    <header>
        <h1 id=head>Rock On!!!!  </h1>
        <a href="/band">Dashboard</a>
        <a class=navLink href="/logout">Log Out</a>
    </header>
    <body>
        {% for band in all_bands %}
        <h1>{{band.name}} formed by </h1>
        <a class='navLink' href="/band/edit/{{band.id}}">Edit</a>
        <a class='navLink' href="/band/delete/{{band.id}}">Delete</a>
        {% endfor %}
    </body>
</div>
</body>
</html>