<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>counter</title>
</head>
<body>
    <h1 style="text-align:center;">Counter</h1>
    <p style="text-align:center;"><span id="tally"></span> {{session['count']}} Times</p>
    <div class="container">
        <button class="clicker" onclick="add1('tally')">Click</button>
        <button class="reset" input onclick="">Reset</button>
    </div>
</body>
</html>